@model IEnumerable < WEBTP.Entities.User>


@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
     <!-- affichage des roles des users
    <th>
        //Html.DisplayNameFor(model => model.Role)
    </th>
    -->
        <th>
            @Html.DisplayNameFor(model => model.PassWord)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassWord)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUser })
        </td>
    </tr>
}

</table>
